$default-font: 'RobotoFont', sans-serif;
$mainFontSize: 16;
$accent: #72AF32;
$bg-color: #f7f7f7;
$transition: .3s ease;
$A: $transition;
$shadow: 0px 1px 7px 1px rgba(#000 ,0.14);
$accent-gradient: linear-gradient(152.36deg, #72AF32 0%, #4B9B3F 100%), linear-gradient(35.11deg, #6C9E39 1.93%, #79B041 98.89%);
$black: #0000;
$white: #FFFFFF;
$gray: #E0E0E0;
$dark-gray: #828282;
